* {
    margin: 0px;
    padding: 0px;
}
ul.Header {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: block;
    float: left;
    color: rgb(70, 70, 70);
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}

li a:hover{
    text-decoration: none;
    color: #00c65e;
}

a.wname {
    margin-left: 25px;
    font-size: 35px;
    padding: 0px 0px;  
}

div.oa {
    background-color: #1abc9c;
    background-image: linear-gradient(to
     bottom right,#1abc9c,#fff);
}

div.cw {
    padding:20px;
    margin-top:30px;
}

h1.aw {
    margin-left: 9vw;
    margin-top: 40px;
    font-size:70px;
}

div.au {
    margin-left: 11vw;
    width: 30%;
}

img.up {
    width: 90px;
    height: 90px;
    border-radius:90px;
    float: left;
    margin-right: 30px;
    margin-left: 5%;
}

h2.un {
    margin-left: 11vw;
    margin-top: 0px;
    Line-height: 100px;
}
#rose {
    margin-left: 11vw;
}

div.dp {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    
}
h2 {
    font-size: 35px;
}
p {
    font-family: verdana;
    color: #6f6f6f;
    font-size: 16px;
    line-height: 1.5;
}

.active {
    padding: 16px 30px;
    border-radius: 8px;
    margin-right: 70px;
    background-color: #00c65e;
}

button.TB {
    background-color: #04AA6D;/* Green */
    border: none;
    width: 22vw;
    border-radius: 0.5vw;
    padding: 1% 0.6% 1% 2%;
    margin-left: 25vw;
    margin-top: 4vw;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
button.TBC {
    background-color: #c7eee0;/* Green */
    border: none;
    width: 22vw;
    border-radius: 0.5vw;
    padding: 1% 0.6% 1% 2%;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.TB:hover {
    background-color:#04AA6D;
    color: #fff;
}

div.cg {
    display: flex;
    justify-content: center;
}

div.gallery {
    border-radius: 6px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 150px;
    height: 90px;
}

div.gallery img{
    width: 150px;
    height:90px;
}

div.desc {
    margin-right: 15vw;
    padding: 15px;
    text-align: center;
}

.meetingimage {
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 500px;
    width: 268px;
    height: 145px;
    border-radius: 3px;
}

div.fq {
    font-size: 90px;
    padding-left: 190px;
    float: left;
}

div.sdp {
    margin-left: 400px;
}

div.ic {
    text-align: center;
    font-size: 90px;
}

div.ai {
    width: 33%;
    height: 45%;
}

.Freelance {
    border: 1px solid black;
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 500px;
    width: 228px;
    height: 214px; 
    border-radius: 3px;   
}

ul {
    list-style-type: none;
}

.container {
    background-color: #000000;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}
div.itemitem-1{
    margin-right: -35px;
}

svg{
    width: 30px;
    height: 30px;
}

div.MI li{
    margin-right: -17%;
    text-decoration: none;
    color: #a0a8ba;
}

div.MI li:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #006bad;
}
a:hover {
    text-decoration: underline;
}


