                                            /* For big screens */




* {
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x:hidden;
}

div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div.nd{
    border: 0.2px solid #6f6f6f;
    background: #fff;
    font-family: sans-serif;
    padding-right: 2vw;
    padding-left: 2vw;
    height: 5vw;
    margin-bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.logo a{
    text-decoration: none;
    font-size: 4vw;
    font-weight: 8vw;
    color:  #00c65e;
}

div.ch{
    margin-bottom: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    width: 45vw;
    margin-top: 1.5vw;
}

div.box{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

div.box:hover{
    text-decoration: none;
    color: #00c65e;
}

div.log a{
    margin: 1.5vw 0vw 1.5vw 0vw;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

div.log button{
    background-color: #00c65e;
    margin: 1.5vw 0vw 1.5vw 2vw;
    padding: 1vw;
    border-radius: 1vw;
    width: 11vw;
}

div.log button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

div.log button:hover{
    text-decoration: none;
    background-color: green;
}

div.oa {
    height: 41vw;
    font-family: arial,sans-serif;
    background-color: #1abc9c;
    background-image: linear-gradient(to
    bottom right,#1abc9c,#fff);
}

h1.aw {
    padding: 2vw;
    margin-left: 6vw;
    margin-top: 2.5vw;
    font-size: 5vw;
}

div.au {
    margin-left: 6vw;
    margin-bottom: 2vw;
    width: 30vw;
}

img.up {
    width: 8vw;
    height: 8vw;
    border-radius: 7vw;
    float: left;
    margin-right: 2vw;
    margin-left: 5%;
}

h2.un {
    float: right;
    margin-left: 10vw;
    margin-top: -7vw;
    font-size: 2vw;
    Line-height: 5vw;
    text-transform: uppercase;
}

#rose {
    margin-left: 8vw;
}

div.dp {
    margin-top: 5vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5vw;
}

div.dp h2{
    margin-bottom: 2vw;
    font-size: 3vw;
}

p {
    font-family: verdana;
    font-family: verdana;
    color: #6f6f6f;
    font-size: 16px;
    line-height: 1.5;
}

button.tb {
    background-color: #04AA6D;/* Green */
    border: none;
    width: 21vw;
    border-radius: 0.5vw;
    padding: 1% 0.6% 1% 2%;
    margin-left: 25vw;
    margin-top: 4vw;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button.tbc {
    background-color: #c7eee0;/* Green */
    border: none;
    width: 21vw;
    border-radius: 0.5vw;
    padding: 1% 0.6% 1% 2%;
    margin-left: 2vw;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button.tb:hover {
    background-color:#04AA6D;
    color: #fff;
}
div.oab {
    border: 1px solid;
    height: 41vw;
    font-family: arial,sans-serif;
    background-color: #1abc9c;
    background-image: linear-gradient(to
    bottom right,#1abc9c,#fff);
}


div.cg {
    display: flex;
    width: 80vw;
    margin-left: 10vw;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

div.gallery {
    border-radius: 6px;
    margin: 0.5vw;
    border: 1px solid #ccc;
    width: 18vw;
    height: 12vw;
}

div.gallery img{
    width: 18vw;
    height: 10vw;
}

p.desc {
    text-align: center;
    color: black;
    font-size: 15px;
    line-height: 1;
}

h3.db{
    text-align: left;
}

img.mi{
    border: 1px solid black;
    margin-top: 2vw;
    margin-left: 40vw;
    margin-right: 40vw;
    width: 25vw;
    height: 20vw;
    border-radius: 3px;
}

div.fq {
    font-size: 5vw;
    padding-left: 19vw;
    float: left;
}

div.sdp {
    margin-left: 35vw;
    margin-right: 20vw;
}

div.sdp h2{
    color: #232731;
    margin: 1vw 0vw 1vw 0vw;
    font-family:sans-serif;
    font-size: 2.5vw;
}
div.cgb {
    display: flex;
    width: 80vw;
    margin-left: 10vw;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}


h3.ic {
    text-align: center;
    font-size: 90px;
}

div.ai {    
    width: 33%;
    height: 45%;
}

img.fl{
    border: 1px solid black;
    margin-top: 2vw;
    margin-left: 40vw;
    margin-right: 40vw;
    width: 25vw;
    height: 20vw; 
    border-radius: 3px;   
}

ul {
    list-style-type: none;
}

div.ct {
    background-color: #000000;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

div.it{
    margin: 10vw -30px 0vw 1vw;
}

svg{
    width: 3vw;
    height: 3vw;
}

div.mi{
    margin-top: 10vw;
    margin-bottom: 10vw;
}

div.mi li{
    text-decoration: none;
    color: #a0a8ba;
}

div.mi li:hover {
    text-decoration: underline;
}
 
a {
    text-decoration: none;
    color: #006bad;
}

 a:hover {
    text-decoration: underline;
} 





                                /* For Tablet screens */
@media (max-width: 768px) {
    div.nd{
        height: 10vw;
    }

    div.oa{
        margin-top: -6vw;
    }

    h1.aw{
        margin-top: 6vw;
    }
    
    div.ch{
        display: none;
    }

    div.au{
        width: 50vw;
        height: 2vw;
    }

    h2.un{
        margin-right: 9vw;
        margin-top: 1vw;
    }

    p.desc{
        font-size: 9px;
        line-height: 0.5;
    }

    div.dp h2{
        font-size: 4vw;
    }

    button.tb{
        width: 24vw;
    }

    div.fq{
        font-size: 6vw;
        float: none;
        margin-bottom: 3vw;
    }

    div.sdp{
        margin: 0vw 15vw 0vw 20vw;
    }

    div.sdp h2{
        font-size: 4vw;
    }

    h3.ic{
        font-size: 7vw;
    }

    div.cgb{
        margin-left: 25vw;
        margin-top: 5vw;
        flex-flow: column;
        align-content: normal;
    }

    div.oab{
        height: 140vw;
        margin-top: 4vw;
    }

    h3.db{
        margin: 1.5vw 0vw 1.5vw 0vw;
        font-size: 2.5vw;
    }

    div.ct{
        flex-flow: wrap;
    }

    div.mi{
        margin: 10vw 2vw 2vw 2vw;
    }
    
}


                                /* For Mobile screens */
@media (max-width: 414px) {
    div.log button{
        height: 10vw;
    }
    
    div.oa {
        height: 70vw;
    }

    div.au{
        width: 65vw;
    }

    h2.un{
        margin-right: 9vw;
        margin-top: 1vw;
        font-size: 3vw;
    }

    button.tb{
        width: 36vw;
    }

    button.tbc{
        width: 38vw;
        margin-left: 25vw;
        margin-top: 5vw;
    }

    h1.aw{
        margin-top: 9vw;
    }

    p.desc{
        font-size: 5px;
        line-height: 0.5;
    }

    div.dp h2{
        font-size: 6vw;
    }

    div.fq{
        font-size: 9vw;
    }

    div.sdp h2{
        font-size: 6vw;
    }

    div.oab{
        height: 235vw;
    }

    div.ai{
        margin-left: -13vw;
    }

    h3.db{
        font-size: 3vw;
        margin-bottom: 8vw;
    }

    div.it{
        margin-left: 11vw;
    }

    div.mi{
        margin-left: 11vw;
        margin-top: 6vw;
    }

    div.it p{
        font-size: 3.5vw;
    }

    div.mi li{
        font-size: 3.5vw;
    }
    
    svg{
        margin-top: 5vw;
        width: 6vw;
        height: 6vw;
    }
}
                