ul.Header {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #67c530;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: block;
    float: left;
    color: rgb(241, 44, 18);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.wname {
    font-size:30px;
    padding: 0px 0px;  
}

div.oa {
    background-color: #1abc9c;
    background-image: linear-gradient(to
     bottom right,#1abc9c,#fff);
}

div.cw {
    padding:20px;
    margin-top:30px;
}

h1.aw {
    font-size:70px;
}

div.au {
    width: 300px;
}

img.up {
    width: 90px;
    height: 90px;
    border-radius:90px;
    float: left;
    margin-right: 30px;
}

h2.un {
    margin-top: 0px;
    Line-height: 100px;
}

div.dp {
    margin-left: 150px;
    margin-right: 150px;
    
}

.active {
    background-color: #000000;
}

.button {
    background-color: #04AA6D;/* Green */
    border: none;
    padding:15px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 80px;
    cursor: pointer;
}

div.cg {
    display: flex;
    justify-content: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    height: 90px;
}

div.gallery img{
    width: 150px;
    height:70px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.meetingimage {
    border: 1px solid black;
    margin-left: 500px;
    margin-right: 500px;
}

div.fq {
    font-size: 90px;
    padding-left: 190px;
    float: left;
}

div.sdp {
    margin-left: 400px;
}

div.ic {
    text-align: center;
    font-size: 90px;
}

div.ai {
    width: 33%;
    height: 45%;
}

.Freelance {
    border: 1px solid black;
    margin-left: 500px;
    margin-right: 500px;    
}


img.svggallery{
    margin: 5px;
    width: 35px;
    height: 35px;
    color: white;
}

ul {
    list-style-type: none;
}


.container {
    background-color: #000000;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #0b4f9c;
}
a:hover {
    text-decoration: underline;
}