ul {
    list-style-type: none;
    margin: 5;
    padding: 10px;
    overflow: hidden;
    background-color: #67c530;
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}
li a {
    display: block;
    color: rgb(212, 23, 23);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111111;
}
.active {
    background-color: #000000;
}
.button {
    background-color: #04AA6D;/* Green */
    border: none;
    padding:15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}