ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #67c530;
    position: fixed;
    top: 0;
    width: 100%;
}
li a {
    display: block;
    float: left;
    color: rgb(212, 23, 23);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.wname {
    font-size:30px;
    padding: 0px 0px;  
}
div.cw {
    padding:20px;
    margin-ton:30px;
    background-color:#1abc9c;
    height: 1500px;
}
h1.aw {
    font-size:39px;
}
div.au {
    width: 300px;
}
img.up {
    width: 90px;
    height: 90px;
    border-radius:90px;
    float: left;
    margin-right: 30px;
}
h2.un {
    margin-top: 0px;
    Line-height: 100px;

}
div.fp {
    margin-left: 150px;
    margin-right: 150px;
}
div.sp {
    margin-left: 150px;
    padding-right: 150px;
}
li a:hover:not(.active) {
    background-color: #111111;
}
.active {
    background-color: #000000;
}
.button {
    background-color: #04AA6D;/* Green */
    border: none;
    padding:15px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 80px;
    cursor: pointer;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 90px;
}
div.gallery img{
    width: 150;
    height:70;
}
div.desc {
    padding: 15px;
    text-align: center;
}
div.TP {
    margin-left: 160px;
    padding-right: 160px;
}
div.FP {
    margin-left: 150px;
    padding-right: 150px;
}
div.FP {
    margin-left: 150px;
    padding-right: 150px;
}
div.SP {
    margin-left: 150px;
    padding-right: 150px;
}